.user_info{
    position: absolute;
    width: 15%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;

    &.active {
        display: block;
    }

    .list-group {
        width:70%;
        padding-top: 20px;
        margin-left: 5%;
    }

    .original-button {
        margin-left: 60%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-decoration: none;
        color: #9b9b9b;
        font-size: 16px;
        border-radius: 50px;
        width: 75px;
        height: 37px;
        font-weight: bold;
        transition: 0.3s;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        background-color: white;
        }
    
    .original-button:hover {
        transform: translateY(2px);
        box-shadow: 0 0 rgba(0, 0, 0, 0);
        }

    #invitation_button{
        z-index: 10;
    }
}

